{#이 부분은 플레이어의 목록을 띄운다.#}
{% extends "admin.html" %}

{% block topic %}{{ user_id }}(닉네임 '{{ _player[0] }}')의 프로필{% endblock %}
{#

현재 조치해야 하는 사항 - 모든건 수정 가능하다.
⬜ 이름

⬜ 아이디

⬜ 관리번호

⬜ 랭크

⬜ 소속크루(명단) -

⬜ 혹시나 바꿀 크루

⬜ 가진템 - 수량

⬜ 플레이어 재화

⬜ 플레이어 기록

⬜ 친구목록

⬜ 차단목록
#}
{% block content %}
    {% print(a) %}
    {% if error %}
        <p style="color:red;">
        {{ error }}

    {% else %}
        <table border="1">
            <tbody>
                <tr>
                    <th colspan="2">
                        이름(닉네임)
                    </th>
                </tr>
                <tr>
                    <td colspan="2">{{ _player[0] }}</td>
                </tr>
                <tr>
                    <th colspan="2">아이디</th>
                </tr>
                <tr>
                    <td colspan="2">{{ user_id }}</td>
                </tr>
                <tr>
                    <th colspan="2">관리번호</th>
                </tr>
                <tr>
                    <td colspan="2">{{ _player[1] }}</td>
                </tr>
                <tr>
                    <th colspan="2">랭크</th>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ _player[3] }}
                    </td>
                </tr>
                <tr>
                    <th>소속크루</th>
                    <th>변경?</th>
                </tr>
                <tr>
                    <td>{{ _crew[1] }}</td>
                    <td>
                        <select>
{#                            이 부분에 전체 크루이름과 번호#}
                            {% for c in crew_list %}
                            <option value="{{ c[0] }}">{{ c[1] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">보유 아이템</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table border="1">
                            <tbody>
                                <tr>
                                    <th>템이름</th>
                                    <th>수량</th>
                                </tr>
                                {% for i in lists %}
                                <tr>
                                    <td>{{ i[4] }}</td>
                                    <td>{{ i[3] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">보유 재화</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table border="1">
                            <tbody>
                                <tr>
                                    <th>종류</th>
                                    <th>수량</th>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>{{ money[1] }}</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>{{ money[2] }}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>{{ money[3] }}</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>{{ money[4] }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            <tr>
                <th>
                    친구목록
                </th>
            </tr>

            </tbody>
{#이부분에 검색창?#}
            {#            <tr>#}
{#                <th ></th>#}
{#            </tr>#}
        </table>

    {% endif %}
{% endblock %}